.content {
  background: rgba(255, 0, 138, 0.5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #17181a;
  padding: 32px;
  border-radius: 32px;
}

.calculatoraHeader {
  padding-block: 32px;
  text-align: right;
  height: 146px;
}

.equation {
  color: #818181;
  font-size: 24px;
}

.solution {
  color: #ffffff;
  font-size: 48px;
}

.lines {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}
